body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* HEADINGS */
.big-heading {
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section */
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* First Image */
.first-img {
  width: 60%;
  transform: rotate(25deg);
  right: 30%;
  position: absolute;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.features-div {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials  Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

/* Footer */

#footer .icon {
  color: gray;
  margin: 20px 10px;
}

#footer .icon:hover {
  color: #ff4c68;
}

/* Media Querys */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .first-img {
    position: static;
    transform: rotate(0);
  }
}
